# Tennis Playing Prediction using `Naive Bayes` Theorem

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("../Datasets/play_tennis.csv")

In [4]:
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [5]:
data.drop(columns=['day'], inplace=True)

In [21]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [7]:
len(data)

14

### Problem 1 <br>

Outlook = `Sunny`, Temp = `Hot`, Hunidity = `High`, wind = `Weak` <br>

Play ?

### Solution 
### Naive Bayes

P(Yes | Sunny, Hot, High, Weak) = P(Sunny | Yes) * P(Hot | Yes) * P(High | Yes) * P(Weak | Yes) * P(Yes)<br>

P(No | Sunny, Hot, High, Weak) = P(Sunny | No) * P(Hot | No) * P(High | No) * P(Weak | No) * P(No)
<br>

Max from both is the answer

In [9]:
# Lets create a Value table of probabilities
# P(Yes)
# P(No)

data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [12]:
P_yes = 9 / 14
P_no = 5 / 14

In [13]:
print(P_yes)
print(P_no)

0.6428571428571429
0.35714285714285715

In [16]:
# Outlook
pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [18]:
P_ovrct_no = 0 / 5
P_rain_no = 2 / 5
P_sunny_no = 3 / 5

P_ovrct_yes = 4 / 9
P_rain_yes = 3 / 9
P_sunny_yes = 2 / 9

In [19]:
# temp
pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [20]:
P_cool_no = 1 / 5
P_hot_no = 2 / 5
P_mild_no = 2 / 5

P_cool_yes = 3 / 9
P_hot_yes = 2 / 9
P_mild_yes = 4 / 9

In [23]:
# humidity
pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [24]:
P_high_no = 4 / 5
P_nrml_no = 1 / 5

P_high_yes = 3 / 9
P_nrml_yes = 6 / 9

In [25]:
# wind
pd.crosstab(data['wind'], data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [26]:
P_strong_no = 3 / 5
P_weak_no = 2 / 5

P_strong_yes = 3 / 9
P_weak_yes = 6 / 9

In [33]:
# Outlook = `Sunny`, Temp = `Hot`, Hunidity = `High`, wind = `Weak`

# P(Yes | Sunny, Hot, High, Weak) = P(Sunny | Yes) * P(Hot | Yes) * P(High | Yes) * P(Weak | Yes) * P(Yes)
P_yes_ = P_sunny_yes * P_hot_yes * P_high_yes * P_weak_yes * p_yes
print(P_yes_)

0.007054673721340387

In [35]:
# P(No | Sunny, Hot, High, Weak) = P(Sunny | No) * P(Hot | No) * P(High | No) * P(Weak | No) * P(No)
P_no_ = P_sunny_no * P_hot_no * P_high_no * P_weak_no * p_no
print(P_no_)

0.02742857142857143

In [32]:
if P_yes_ > P_no_:
    print("Yes")
else:
    print("No")

No