# Linear Regression
## Student Performance Predictor

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# get data from the file
data = pd.read_csv('Student_Performance.csv')
type(data)

pandas.core.frame.DataFrame

In [3]:
data

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [5]:
# Independent & dependent features
X = data([['Hours Studied'],['Previous Scores'],['Extracurricular Activities'],['Sleep Hours'],['Sample Question Papers Practiced']])

TypeError: 'Index' object is not callable