# Titanic Survival Prediction

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Import Data into DataFrame

In [2]:
train = pd.read_csv("D:/Machine Learning/Machine Learning/Datasets/Titanic/train.csv")
test = pd.read_csv("D:/Machine Learning/Machine Learning/Datasets/Titanic/test.csv")

In [3]:
passengerId = test.iloc[:,0].values

In [4]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
test.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [6]:
print(train.shape)
print(test.shape)

(891, 12)
(418, 11)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Drop Column `Cabin` as we have less than 30% values for the column

In [9]:
train.drop(columns=['Cabin'], inplace=True)
test.drop(columns=['Cabin'], inplace=True)

In [10]:
print(train.shape)
print(test.shape)

(891, 11)
(418, 10)

In [11]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [14]:
# SimpleImputer for filling NaN values
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')

In [ ]:
train['']

Let's find maximum embark value

In [ ]:
train['Embarked'].value_counts()

Filling null columns with `'S'` as it is maximum

In [ ]:
train['Embarked'].fillna('S', inplace=True)

In [ ]:
train.isnull().sum()

Same way fill in test

In [ ]:
test.isnull().sum()

In [ ]:
test['Fare'].fillna(test['Fare'].mean(), inplace=True)

In [ ]:
test.isnull().sum()

In [ ]:
train_age = np.random.randint(train['Age'].mean() - train['Age'].std(), train['Age'].mean() + train['Age'].std(), 177)
test_age = np.random.randint(test['Age'].mean() - test['Age'].std(), test['Age'].mean() + test['Age'].std(), 86)

In [ ]:
train['Age'][train['Age'].isnull()] = train_age
test['Age'][test['Age'].isnull()] = test_age

In [ ]:
train.isnull().sum()

In [ ]:
train.isnull().sum()

### EDA Stage

In [ ]:
train.head()

In [ ]:
train.groupby(['Pclass'])['Survived'].mean()

In [ ]:
136 / (80+136) * 100 # The change of survival for class 1

Here we found that as class decreases chance of survival also decreases.

In [ ]:
train.groupby(['Sex'])['Survived'].mean()

In [ ]:
train.groupby(['Embarked'])['Survived'].mean()

In [ ]:
sns.distplot(train['Age'][train['Survived']==0])
sns.distplot(train['Age'][train['Survived']==1])

In [ ]:
sns.distplot(train['Fare'][train['Survived']==0])
sns.distplot(train['Fare'][train['Survived']==1])

Removing Name and Ticket

In [ ]:
train.drop(columns=['Name', 'Ticket'], inplace=True)
test.drop(columns=['Name', 'Ticket'], inplace=True)

Combine `SibSp` and `Parch` and make a family column

In [ ]:
train['Family'] = train['SibSp'] + train['Parch'] + 1
test['Family'] = test['SibSp'] + test['Parch'] + 1

In [ ]:
train.drop(columns=['SibSp', 'Parch'], inplace=True)

In [ ]:
test.drop(columns=['SibSp', 'Parch'], inplace=True)

In [ ]:
train.head()

In [ ]:
train.groupby(['Family'])['Survived'].mean()

Categorise Family into three parts `alone`, `medimum` & `large`

In [ ]:
def cal(number):
    if number == 1:
        return 'alone'
    elif number > 1 and number <= 4:
        return 'medium'
    else:
        return 'large'

In [ ]:
train['Family_size'] = train['Family'].apply(cal)
test['Family_size'] = test['Family'].apply(cal)

In [ ]:
test

In [ ]:
train.drop(columns=['Family'], inplace=True)
test.drop(columns=['Family'], inplace=True)

In [ ]:
train.drop(columns=['PassengerId'], inplace=True)
test.drop(columns=['PassengerId'], inplace=True)

In [ ]:
train.head()

Categorical values into numerical values

In [ ]:
train = pd.get_dummies(train, columns=['Pclass', 'Sex', 'Embarked', 'Family_size'], drop_first=True)

In [ ]:
test = pd.get_dummies(test, columns=['Pclass', 'Sex', 'Embarked', 'Family_size'], drop_first=True)

In [ ]:
train.head()

In [ ]:
train.shape

Split Features and Label

In [ ]:
test.shape

In [ ]:
X = train.iloc[:, 1:].values
y = train.iloc[:, 0].values

In [ ]:
len(X)

Scaling the parameter

In [ ]:
from sklearn.preprocessing import StandardScaler

std_scale = StandardScaler()
X_scaled = std_scale.fit_transform(X)

In [ ]:
len(X_scaled)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [ ]:
X_train

In [ ]:
from sklearn.tree import DecisionTreeClassifier

decision_clf = DecisionTreeClassifier()
decision_clf.fit(X_train, y_train)

In [ ]:
y_pred = decision_clf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

Using Decision Tree

In [ ]:
from sklearn.svm import SVC

svm_clf = SVC()
svm_clf.fit(X_train, y_train)

In [ ]:
svm_y_pred = svm_clf.predict(X_test)

In [ ]:
accuracy_score(y_test, svm_y_pred)

Prediction for test values

In [ ]:
X_final = test.iloc[:,:].values

In [ ]:
y_pred_final = decision_clf.predict(X_final)

Preparing dataFrame for submission

In [ ]:
final = pd.DataFrame()

final['passengerId'] = passengerId
final['survived'] = y_pred_final

In [ ]:
final

In [ ]:
final.to_csv('titanic_submission.csv', index=False)